
.filter{
  &__title{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-black-strong);
    margin-bottom: 2.4rem;
  }
  &__label{
    display: flex;
    flex-direction: column;
    &:not(:last-child){
      margin-bottom: 1.5rem;
    }
    &-text{
      font-weight: 700;
      font-size: 1.4rem;
      color: var(--color-black);
      margin-bottom: .5rem;
    }
  }
  &__input,
  &__select{
    min-height: 3.2rem;
    width: 100%;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--color-black-light);
    background: var(--color-white);
    border: 1px solid var(--color-gray-lighter);
    border-radius: .2rem;
    padding: 0 1.2rem;
    &::placeholder{
      color: var(--color-placeholder);
    }
  }
}